<section class="section recommendations">
    <h2>Preporuke za Vas</h2>

    <div class="recommendation-item">
        <img src="https://www.tehnomedia.rs/image/91972.jpg?tip=webp&tip_slike=0" alt="iPhone 14 Pro">
        <p>Odaberite iPhone 14 Pro za vrhunsko iskustvo mobilne tehnologije.</p>
    </div>

    <div class="recommendation-item">
        <img src="https://rukminim1.flixcart.com/image/850/1000/xif0q/mobile/2/s/7/-original-imagmg6gktts6sfy.jpeg?q=90" alt="Samsung S23 Ultra">
        <p>Samsung S23 Ultra - revolucionarni pametni telefon sa najnovijim funkcijama.</p>
    </div>

    <div class="recommendation-item">
        <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1694673405/Croma%20Assets/Communication/Mobiles/Images/300757_0_xr6ypa.png" alt="iPhone 15">
        <p>iPhone 15 - najnoviji model sa inovativnim karakteristikama.</p>
    </div>
</section>