<div class="navbar">
    <nav>
        <ul>
            <li><a routerLink="/ponuda" routerLinkActive="active">Ponuda</a></li>
            <li><a routerLink="/preporuka" routerLinkActive="active">Preporuke</a></li>
            <li><a routerLink="/onama" routerLinkActive="active">O nama</a></li>
            <li><a routerLink="/phones" routerLinkActive="active">Dodavanje telefona</a></li>
            <li><a routerLink="/lista" routerLinkActive="active">DZ12</a></li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>