<table *ngIf="phones">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Cena</th>
            <th>Odaberi</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let phone of phones">
            <td>{{phone.id}}</td>
            <td>{{phone.markat}}</td>
            <td>{{phone.modelt}}</td>
            <td>{{phone.cenat}} <b>CHF</b></td>
            <td>
                <input type="checkbox" (change)="updateSelectedPhones(phone.id, $event)">
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="!phones">
    <p>Loading...</p>
</div>
<p *ngIf="selectedPhones.length > 0">Ukupna cena odabranih telefona: {{ calculateTotalPrice() }}</p>


<form [formGroup]="phoneForm">
    <div>
        <label>Marka</label>
        <input type="text" formControlName="markat" required>
        <div class="validacija"
            *ngIf="phoneForm.get('markat')?.hasError('required') && phoneForm.get('markat')?.touched">
            Marka je obavezna.
        </div>

        <label>Model</label>
        <input type="text" formControlName="modelt" required>
        <div class="validacija"
            *ngIf="phoneForm.get('modelt')?.hasError('required') && phoneForm.get('modelt')?.touched">
            Model je obavezan.
        </div>

        
        <label>Cena</label>
        <input type="number" formControlName="cenat" name="cenat" required>
        <div class="validacija"
            *ngIf="phoneForm.controls['cenat']?.hasError('required') && phoneForm.controls['cenat']?.touched">
            Cena je obavezna.
        </div>
        <div class="validacija"
            *ngIf="phoneForm && phoneForm.controls['cenat']?.hasError('min') && phoneForm.controls['cenat']?.touched">
            Cena ne sme biti manja od 0.
        </div>
        <div class="validacija"
            *ngIf="phoneForm && phoneForm.controls['cenat'] && phoneForm.controls['cenat']?.hasError('pattern') && phoneForm.controls['cenat']?.touched">
            Unesite validnu numeričku vrednost.
        </div>

        <button type="button" (click)="dodajTelefon()" [disabled]="phoneForm.invalid">Dodaj telefon</button>
        <div *ngIf="showErrorMessage" class="error-message">
            Popunite sve podatke.
        </div>
    </div>
</form>
